.search {
  -webkit-appearance: none;
  border: 1px double grey;
  outline: none;
  padding: 5px 15px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 2em;
  box-shadow: 2px 2px 2px grey;
}
